$xxxsBreakpoint: 360px;
$xxsBreakpoint: 420px;
$xsBreakpoint: 550px;
$smBreakpoint: 768px;
$mdBreakpoint: 991px;
$lgBreakpoint: 1200px;

:root {
    // COLORS
    --orange: #fe9e06;
    --orange-light: #ffbc5e;
    --text: #123800;
    --text-light: #277B00;

    --gradient-bg: linear-gradient(to bottom left, var(--orange-light), var(--orange));

    --cubic-bezier: cubic-bezier(.32,1.07,.72,1.18);

    // Fonts
    --fonts: 'impact', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

    // Sizes
    --titleBgHeight: 38px;

    @media (min-width: $smBreakpoint) {
        --titleBgHeight: 76px;
    }
}